$air: 16px;
$cols: 12;
$font-size: 16px;
$gutter: 15px;
$area-padding: 7%;

$color-button: #f6ea5e;
$color-arrow: #979797;
$color-link: #232eb4;
$color-button: #f6ea5e;

$xs: 380;
$sm: 544;
$md: 768;
$lg: 1200;
$xlg: 1920;

$breakpoint: (
	'xs': 0,
	'sm': $sm,
	'md': $md,
	'lg': $lg,
	'xlg': $xlg
);
