.responsive {
	display: inline-block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.container{padding: 0;}
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
