&#nietzsche-2017 {
    background-image: url('../img/nietzsche-kv.jpg');
    @include screen($md){
      background-size: auto 100vh; 
    }
    background-size: contain;
    background-repeat: no-repeat;
}

.n_title {
    background-color: black;
    color: white;
    width: 100%;
    height: 150px;
    @include screen($md){
      height: 100px;
    }
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 $area-padding;
}

.n_text {
    padding: $area-padding;
}

.n_top {
    h2 {
      &.sub-title{
        margin-top: 15%;
      }
    }
    img {
        max-width: 220px;
        margin-top: $area-padding;
    }
    .n_title {
        justify-content: center;
    }
}

.n_section {
    border: 5px solid black;
    margin-bottom: 50px;
    position: relative;
    @include min-screen($lg) {
        &.section-3 {
            background: url('../img/nietzsche-s3.png') no-repeat;
            background-position: bottom right;
        }
        &.section-5 {
            background: url('../img/nietzsche-s4.png') no-repeat;
            background-position: bottom right;
        }
    }
    &.video {
        padding: $area-padding;
    }
    .carousel {
        .item {
            img {
                max-width: 45%;
                display: block;
                margin: auto;
            }
            .carousel-caption {
                margin-top: $air*2;
                p {
                    @include font-size(1.8);
                    color: $color-link;
                    margin-bottom: $air;
                }
                .btn {
                    background-color: $color-button;
                    text-transform: uppercase;
                    padding: $air $air*3;
                    font-size: 1.8em;
                    img {
                        width: 22px;
                        display: inline-block;
                        margin-top: -4px;
                        margin-left: 16px;
                    }
                }
            }
        }
        .carousel-control {
            .glyphicon {
                top: 40%;
                @include screen($md){
                  top: 24%;
                }
                font-size: 12vw;
                color: $color-arrow;
                width: 12vw;
            }
        }
    }
}

.text-section {
    background-color: black;
    color: white;
}

@include screen($lg) {}

@include screen($md) {}

@include screen($sm) {}

@include screen($xs) {}
